{% load static %}
{% include 'projects/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Detail</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            {% for song in songs %}
            <div class="row">
                <div class="col-8 col-sm-6 text-center">
                    {{ song.title }}
                </div>
                <div class="col-4 col-sm-6 text-center">
                    <audio controls src="{{ song.audio_file.url }}"></audio>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="right" class="col-3" style="
        text-align: right;
        position: fixed;
        margin-left: 50%;
        ">
            <h4>{{ album.name }}</h4>
            <img src="{{ album.image.url }}" alt="">
        </div>
    </div>
</body>
</html>