{% load static %}
{% include 'projects/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Detail</title>
</head>
<body>
    <div>
        <h2><b>{{ article.title | safe }}</b></h2>
    </div>
    <hr>
    <div style="
        padding-left: 30%;
        padding-right: 30%;
        background-color: beige;
    ">
        {{ article.body | safe }}
    </div>
</body>
</html>