{% load static %}
{% include 'projects/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Detail</title>
</head>
<body>
    {% if article.article_file %}
    <iframe src="{{ article.article_file.url }}" width= 1200px height=1200px></iframe>
    {% else %}
    <div style="padding-left: 20%">
        <h2><b>{{ article.title | safe }}</b></h2>
    </div>
    <hr>
    <div class="container" style="
        padding-left: 15%;
        padding-right: 15%;
    ">
        <div style="
            padding-left: 10%;
            padding-right: 10%;
            background-color: beige;
            border-radius: 2%;
        ">
            {{ article.body | safe }}
        </div>
    </div>
    {% endif %}
</body>
</html>