{% load static %}
{% include 'projects/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection Detail</title>
</head>
<body>
    <div style="padding-left: 20%">
        <h2><b>{{ article.title | safe }}</b></h2>
    </div>
    <hr>
    <div class="container" style="
        padding-left: 15%;
        padding-right: 15%;
    ">
        <div style="
            padding-left: 10%;
            padding-right: 10%;
            background-color: beige;
        ">
            {{ article.body | safe }}
        </div>
    </div>
</body>
</html>