{% load static %}
{% include 'projects/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-9 justify-content-center">
                {% for album in albums %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ album.image.url }}" class="card-img-top" alt="IMAGE">
                    <div class="card-body">
                      <h5 class="card-title">{{ album.name }}</h5>
                      <p class="card-text">Lorem Ipsum</p>
                      <a href="#" class="btn btn-primary">Listen</a>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
            <div id="right" class="col-3 justify-content-center">
                <h3>My Music</h3>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper leo in tellus iaculis posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas porta efficitur dignissim. 
                </p>
            </div>
        </div>
    </div>
</body>
</html>