{% load static %}
{% include 'projects/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Index</title>
</head>
<body>
    {% for album in albums %}
    <div class="card" style="width: 18rem;">
        <img src="{{ album.image.url }}" class="card-img-top" alt="IMAGE">
        <div class="card-body">
          <h5 class="card-title">{{ album.name }}</h5>
          <p class="card-text">Lorem Ipsum</p>
          <a href="#" class="btn btn-primary">Listen</a>
        </div>
    </div>
    {% endfor %}
    <!-- <div class="row">
        <div class="col-sm-9">
            <h4 class="text-center">Music</h4>
            {% for album in albums %}
            <div class="card">
                <img src="{{ album.image.url }}" class="card-img-top" alt="IMAGE">
                <div class="card-body">
                    <h5 class="card-title">{{ album.name }}</h5>
                    <a href="#">Listen</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <h4 class="text-center">My music</h4>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper leo in tellus iaculis posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas porta efficitur dignissim. Nam eleifend scelerisque est, eu ultrices massa pellentesque quis. Aliquam id placerat magna. Maecenas vitae congue erat, et convallis eros. Donec molestie feugiat sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed aliquet mi et bibendum convallis. Integer ligula lectus, elementum eu augue dapibus, auctor rhoncus libero. Integer nulla felis, mollis quis aliquam in, consequat eu nisl. Duis dictum tempus aliquam. Praesent velit risus, pretium at erat eget, rhoncus interdum massa.
            </p>
        </div>
    </div> -->
</body>
</html>